.card-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width:600px){
    .card-row{
        margin-right: auto;
        margin-left: auto;
    }
}